{% extends 'base.html.twig' %}

{% block title %}
	Utilisateurs |
	{{ parent() }}
{% endblock %}

{# START : admin_user_list #}
{% block body %}
	<main>
		<section class="page">
			<h2>Liste des Utilisateurs</h2>
			{# START : searchUserForm #}
			{{ form_start(searchUserForm, { 'attr': { 'novalidate': 'novalidate', 'class': 'form', 'id': 'search-user-form' }}
			) }}
			<div class="form-field">
				{{ form_label(searchUserForm, 'E-mail', { 'label_attr': { 'class': 'display-none' }}) }}
				{{ form_widget(searchUserForm.lastName, { 'id': '', 'attr': {'class': 'form-field__input form-field__input_color_black form-field__input-search form-field__input-user-last-name', 'placeholder': '🔍 Rechercher par nom' }}
				) }}
				<p class="error-message error-message_color_red error-message__user-last-name-empty display-none">
					Merci de saisir un nom.
				</p>
				{{ form_errors(searchUserForm.lastName) }}
			</div>
			<button type="submit" class="page__button page__button-submit page__button-search page__button_background-color_blue page__button_color_white" id="search-user-button">
				Rechercher
			</button>
			{{ form_end(searchUserForm) }}
			{# END : searchUserForm #}
			<a class="page__link page__link-create page__link_text-transform_uppercase page__link_background-color_dodger-blue page__link_color_white" href="{{ path('admin_user_create') }}" id="create-user-link">Créer</a>
			<div class="list">
				{% for user in users %}
					{# START : card for mobile #}
					<div class="admin-preview admin-preview_color_blue">
						<img class="page__picture-entity" src="{{ asset('assets/uploads/pictures/users/'~ user.picture) }}" alt="image {{ user.firstName }}"/>
						<p>{{ user.civilityTitle }}</p>
						<p>{{ user.firstName }}</p>
						<p>{{ user.lastName }}</p>
						<p>
							<a class="page__link page__link-text  page__link_font-weight_normal page__link_padding-and-margin_0 page__link_color_blue" id="" href="mailto:{{ user.email }}">{{ user.email }}</a>
						</p>
						<p>{{ user.roles|json_encode() }}</p>
						<a class="page__link page__link-text  page__link_font-weight_normal page__link_padding-and-margin_0 page__link_color_blue" href="{{ path('admin_address_user_list', {'id': user.id}) }}">Adresses</a>
						<a class="page__link page__link-text  page__link_font-weight_normal page__link_padding-and-margin_0 page__link_color_blue" href="{{ path('admin_purchase_user_list', {'id': user.id}) }}">Commandes</a>
						<a class="page__link page__link-detail page__link_text-transform_uppercase page__link_background-color_blue page__link_color_white" href="{{ path('admin_user_detail', {'id': user.id}) }}">Détails</a>
						<a class="page__link page__link_text-transform_uppercase page__link_background-color_safety-orange page__link_color_white" href="{{ path('admin_user_update', {'id': user.id}) }}">Modifier</a>
						{#! START : user account deactivation #}
						{# {% if user.isIsActivated %}
																			<a class="page__link page__link-delete page__link_text-transform_uppercase page__link_margin-bottom_1em page__link_background-color_red page__link_color_white" href="{{ path('admin_user_delete', {'id':user.id, 'token':csrf_token('admin-user-delete' ~ user.id)} ) }}">
																				Supprimer</a>
																		{% else %}
																			<a class="page__link page__link-reactivate-account page__link page__link_text-transform_uppercase page__link_margin-bottom_1em page__link_background-color_green page__link_color_black" href="{{ path('admin_user_reactivate', {'id':user.id, 'token':csrf_token('admin-user-reactivate' ~ user.id)} ) }}">
																				Réactivier
																			</a>
																		{% endif %} #}
						{#! END : user account deactivation #}
							<a class="page__link page__link-delete page__link-delete-user page__link_text-transform_uppercase page__link_margin-bottom_1em page__link_background-color_red page__link_color_white" href="{{ path('admin_user_delete', {'id':user.id, 'token':csrf_token('admin-user-delete' ~ user.id)} ) }}" data-userfirstname="{{ user.firstName }}" data-userlastname="{{ user.lastName }}"> Supprimer</a>
					</div>
				{% endfor %}
				{# END : card for mobile #}
				{# START : table for desktop #}
				<table class="table table_background-color_blue table_color_white table-user">
					<thead>
						<tr>
							<th>Photo</th>
							<th>Civilité</th>
							<th>Prénom</th>
							<th>Nom</th>
							<th>E-mail</th>
							<th>Rôle(s)</th>
							<th>Adresses</th>
							<th>Commandes</th>
							<th>Actions</th>
						</tr>
					</thead>
					{% for user in users %}
						<tbody>
							<tr>
								<td>
									<img class="page__picture-entity" src="{{ asset('assets/uploads/pictures/users/'~ user.picture) }}" alt="image-{{ user.firstName }}"/>
								</td>
								<td>{{ user.civilityTitle }}</td>
								<td>{{ user.firstName }}</td>
								<td>{{ user.lastName }}</td>
								<td>
									<a class="page__link page__link-text  page__link_font-weight_normal page__link_padding-and-margin_0 page__link_color_blue" id="" href="mailto:{{ user.email }}">{{ user.email }}</a>
								</td>
								<td>{{ user.roles|json_encode() }}</td>
								<td>
									<a class="page__link page__link-text  page__link_font-weight_normal page__link_padding-and-margin_0 page__link_color_blue" href="{{ path('admin_address_user_list', {'id': user.id}) }}">Adresses</a>
								</td>
								<td>
									<a class="page__link page__link-text  page__link_font-weight_normal page__link_padding-and-margin_0 page__link_color_blue" href="{{ path('admin_purchase_user_list', {'id': user.id}) }}">Commandes</a>
								</td>
								<td>
									<a class="page__link page__link-detail page__link_text-transform_uppercase page__link_background-color_blue page__link_color_white" href="{{ path('admin_user_detail', {'id': user.id}) }}">Détails</a>
									<a class="page__link page__link_text-transform_uppercase page__link_background-color_safety-orange page__link_color_white" href="{{ path('admin_user_update', {'id': user.id}) }}">Modifier</a>
									{#! START : user account deactivation #}
									{# {% if user.isIsActivated %}
																												<a class="page__link page__link-delete page__link_text-transform_uppercase page__link_background-color_red page__link_color_white" href="{{ path('admin_user_delete', {'id':user.id, 'token':csrf_token('admin-user-delete' ~ user.id)} ) }}">
																													Supprimer</a>
																											{% else %}
																												<a class="page__link page__link-reactivate-account page__link page__link_text-transform_uppercase page__link_background-color_green page__link_color_black" href="{{ path('admin_user_reactivate', {'id':user.id, 'token':csrf_token('admin-user-reactivate' ~ user.id)} ) }}">
																													Réactivier
																												</a>
																											{% endif %} #}
									{#! END : user account deactivation #}
										<a class="page__link page__link-delete page__link-delete-user page__link_text-transform_uppercase page__link_background-color_red page__link_color_white" href="{{ path('admin_user_delete', {'id':user.id, 'token':csrf_token('admin-user-delete' ~ user.id)} ) }}" data-userfirstname="{{ user.firstName }}" data-userlastname="{{ user.lastName }}"> Supprimer</a>
								</td>
							</tr>
						</tbody>
					{% endfor %}
				</table>
				{# END : table for desktop #}
			</div>
		</section>
	</main>
{% endblock %}
{# START : admin_user_list #}
