{% extends 'base.html.twig' %}

{% block title %}
	Mettre à jour - Utilisateur -
	{{ user.firstName }}
	{{ user.lastName }}
	|
	{{ parent() }}
{% endblock %}

{# START : admin_user_update #}
{% block body %}
<main>
	<section class="page">
		<h2>Mettre à jour Utilisateur :
			{{ user.firstName }}
			{{ user.lastName }}</h2>
		{# START :adminUpdateUserForm #}
		{{ form_start(adminUpdateUserForm, { 'attr': { 'novalidate': 'novalidate', 'class': 'form', 'id': 'admin-update-user-form' }}) }}
		{# picture #}
		<div
			class="form-field-user-picture">
			<img class="page__picture-entity" src="{{ asset('assets/uploads/pictures/users/' ~ user.picture) }}" alt="{{ user.firstName }}"/>
		</div>
		{# delete picture #}
		<a class="page__link page__link_text_uppercase page__link_background-color_red page__link_color_white" id="delete-user-picture-button" href="{{ path('admin_user_delete_picture', {'id':user.id, 'token':csrf_token('delete-user-picture' ~ user.id)} ) }}">Supprimer la photo</a>
		{# civilityTitle #}
		<div class="form-field">
			{{ form_widget(adminUpdateUserForm.civilityTitle) }}
			<p class="error-message error-message_color_red error-message__user-gender-not-checked display-none">
				Merci de sélectionnner une valeur.
			</p>
			{{ form_errors(adminUpdateUserForm.civilityTitle) }}
		</div>
		{# upload #}
		<div class="form-field">
			{{ form_label(adminUpdateUserForm, 'Photo de profil', { 'label_attr': { 'class': 'display-none' }}) }}
			{{ form_widget(adminUpdateUserForm.upload, { 'id': 'update-user-picture-input', 'attr': { 'class': 'form-field__input form-field__input_color_black form-field__input-file' }}) }}
			<p class="error-message error-message_color_red error-message__file-mime-type display-none">
				Merci de télécharger un fichier au format PDF, PNG, JPEG ou SVG.
			</p>
			<p class="error-message error-message_color_red error-message__file-size display-none">
				Merci de télécharger un fichier de maximum 300 000 bytes.
			</p>
			{{ form_errors(adminUpdateUserForm.upload) }}
		</div>
		{# firstName #}
		<div class="form-field">
			{{ form_label(adminUpdateUserForm, 'Prénom', { 'label_attr': { 'class': 'display-none' }}) }}
			{{ form_widget(adminUpdateUserForm.firstName, { 'id': 'update-user-first-name-input', 'attr': {'class': 'form-field__input form-field__input_color_black form-field__input-user-first-name', 'placeholder': 'Prénom' }}) }}
			<p class="error-message error-message_color_red error-message__empty-first-name display-none">
				Merci de saisir un prénom.
			</p>
			{{ form_errors(adminUpdateUserForm.firstName) }}
		</div>
		{# lastName #}
		<div class="form-field">
			{{ form_label(adminUpdateUserForm, 'Nom', { 'label_attr': { 'class': 'display-none' }}) }}
			{{ form_widget(adminUpdateUserForm.lastName, { 'id': 'update-user-last-name-input', 'attr': { 'class': 'form-field__input form-field__input_color_black form-field__input-user-last-name', 'placeholder': 'Nom' }}) }}
			<p class="error-message error-message_color_red error-message__empty-last-name display-none">
				Merci de saisir un nom.
			</p>
			{{ form_errors(adminUpdateUserForm.lastName) }}
		</div>
		{# email #}
		<div class="form-field">
			{{ form_label(adminUpdateUserForm, 'E-mail', { 'label_attr': { 'class': 'display-none' }}) }}
			{{ form_widget(adminUpdateUserForm.email, { 'id': 'update-user-email-input', 'attr': { 'class': 'form-field__input form-field__input_color_black form-field__input-user-email', 'placeholder': 'E-mail' }}) }}
			<p class="error-message error-message_color_red error-message__email-empty display-none">
				Merci de saisir un e-mail.
			</p>
			<p class="error-message error-message_color_red error-message__email-validity display-none">
				Merci de saisir un e-mail valide.
			</p>
			{{ form_errors(adminUpdateUserForm.email) }}
		</div>
		{# password #}
		<div class="form-field">
			{{ form_label(adminUpdateUserForm, 'Mot de passe', { 'label_attr': { 'class': 'display-none' }}) }}
			{{ form_widget(adminUpdateUserForm.password, { 'id': 'update-user-password-input', 'attr': {'class': 'form-field__input form-field__input_color_black form-field__input-user-password', 'placeholder': 'Mot de passe' }}) }}
			<p class="error-message error-message_color_red error-message__password-empty display-none">
				Merci de saisir un mot de passe.
			</p>
			<p class="error-message error-message_color_red error-message__password-length display-none">
				Le mot de passe doit contenir au moins 8 characteres.
			</p>
			<p class="error-message error-message_color_red error-message__password-lowercase display-none">
				Le mot de passe doit contenir au moins une minuscule.
			</p>
			<p class="error-message error-message_color_red error-message__password-uppercase display-none">
				Le mot de passe doit contenir au moins une majuscule.
			</p>
			<p class="error-message error-message_color_red error-message__password-number display-none">
				Le mot de passe doit contenir au moins un chiffre.
			</p>
			<p class="error-message error-message_color_red error-message__password-special-character display-none">
				Le mot de passe doit contenir au moins un caractére spécial.
			</p>
			{{ form_errors(adminUpdateUserForm.password) }}
		</div>
		{# roles #}
		<div class="form-field">
			{{ form_label(adminUpdateUserForm, 'Merci de selectionner le ou les potentiels rôles de l\'utilisateur :', { 'label_attr': { 'class': '' }}) }}
		        {{ form_widget(adminUpdateUserForm.roles) }}
			    <p class="error-message error-message_color_red error-message__user-roles-not-checked display-none">
				    Merci de sélectionnner une valeur.
			    </p>
		        {{ form_errors(adminUpdateUserForm.roles) }}
            </div>
			{# Submit adminUpdateUserForm button #}
            <button type="submit" class="page__button page__button-submit page__button_background-color_safety-orange page__button_color_white" id="admin-update-user-button">
	            Mettre à jour
            </button>
            {{ form_end(adminUpdateUserForm) }}
            {# END : adminUpdateUserForm #}
	    </section>
    </main>
{% endblock %}
{# END : admin_user_update #}
