{% extends 'base.html.twig' %}

{% block title %}
	Mettre à jour - Mode de Livraison -
	{{ deliveryMode.name }}
	|
	{{ parent() }}
{% endblock %}

{# START : admin_delivery_mode_update #}
{% block body %}
	<main>
		<section class="page">
			<h2>Mettre à jour Mode de livraison :
				{{ deliveryMode.name }}</h2>
			{# START :adminUpdateDeliveryModeForm #}
			{{ form_start(adminUpdateDeliveryModeForm, { 'attr': { 'novalidate': 'novalidate', 'class': 'form', 'id': 'admin-update-delivery-mode-form' }}) }}
			{# picture #}
			<div class="form-field-user-picture">
				<img class="page__picture-entity" src="{{ asset('assets/uploads/pictures/delivery-modes/' ~ deliveryMode.picture) }}" alt="image {{ deliveryMode.name }}"/>
			</div>
			{# upload #}
			<div class="form-field">
				{{ form_label(adminUpdateDeliveryModeForm, 'Photo', { 'label_attr': { 'class': 'display-none' }}) }}
				{{ form_widget(adminUpdateDeliveryModeForm.upload, { 'id': 'update-delivery-mode-picture-input', 'attr': { 'class': 'form-field__input form-field__input_color_black form-field__input-file' }}) }}
				<p class="error-message error-message_color_red error-message__file-mime-type display-none">
					Merci de télécharger un fichier au format PDF, PNG, JPEG ou SVG.
				</p>
				<p class="error-message error-message_color_red error-message__file-size display-none">
					Merci de télécharger un fichier de maximum 300 000 bytes.
				</p>
				{{ form_errors(adminUpdateDeliveryModeForm.upload) }}
			</div>
			{# name #}
			<div class="form-field">
				{{ form_label(adminUpdateDeliveryModeForm, 'Nom', { 'label_attr': { 'class': 'display-none' }}) }}
				{{ form_widget(adminUpdateDeliveryModeForm.name, { 'id': 'update-delivery-mode-name-input', 'attr': {'class': 'form-field__input form-field__input_color_black form-field__input-delivery-mode-name', 'placeholder': 'Nom' }}) }}
				<p class="error-message error-message_color_red error-message__delivery-mode-name-empty display-none">
					Merci de saisir un nom de mode de livraison.
				</p>
				<p class="error-message error-message_color_red error-message__delivery-mode-name-validity display-none">
					Merci de saisir un nom de mode de livraison valide valide.
				</p>
				{{ form_errors(adminUpdateDeliveryModeForm.name) }}
			</div>
			{# price #}
			<div class="form-field">
				{{ form_label(adminUpdateDeliveryModeForm, 'Prix', { 'label_attr': { 'class': 'display-none' }}) }}
				{{ form_widget(adminUpdateDeliveryModeForm.price, { 'id': 'update-delivery-mode-price-input', 'attr': {'class': 'form-field__input form-field__input_color_black form-field__input-delivery-mode-price', 'placeholder': 'Prix en euros' }}) }}
				<p class="error-message error-message_color_red error-message__delivery-mode-price-empty display-none">
					Merci de saisir un prix en euros.
				</p>
				<p class="error-message error-message_color_red error-message__delivery-mode-price-validity display-none">
					Merci de saisir un prix en euros.
				</p>
				{{ form_errors(adminUpdateDeliveryModeForm.price) }}
			</div>
			{# minCartAmountForFreeDelivery #}

			<div class="form-field">
				{{ form_label(adminUpdateDeliveryModeForm, 'Montant minimum d\'achat pour gratuité', { 'label_attr': { 'class': 'display-none' }}) }}
				{{ form_widget(adminUpdateDeliveryModeForm.minCartAmountForFreeDelivery, { 'id': 'update-delivery-mode-min-price-for-free-delivery-input', 'attr': {'class': 'form-field__input form-field__input_color_black form-field__input-delivery-mode-min-purchase-amount-for-free-delivery', 'placeholder': 'Montant minimum d\'achat pour gratuité' }}) }}
				<p class="error-message error-message_color_red error-message__delivery-mode-min-cart-amount-for-free-delivery-empty display-none">Merci de saisir un prix en euros.</p>
				<p class="error-message error-message_color_red error-message__delivery-mode-min-cart-amount-for-free-delivery-validity display-none">Merci de saisir un prix en euros.</p>
				{{ form_errors(adminUpdateDeliveryModeForm.minCartAmountForFreeDelivery) }}

			</div>
			{# description #}
			<div class="form-field">
				{{ form_label(adminUpdateDeliveryModeForm, 'Description', { 'label_attr': { 'class': 'display-none' }}) }}
				{{ form_widget(adminUpdateDeliveryModeForm.description, { 'id': 'update-delivery-mode-description-input', 'attr': {'class': 'form-field__input form-field__input_color_black form-field__input-delivery-mode-description', 'placeholder': 'Description' }}) }}
				<p class="error-message error-message_color_red error-message__delivery-mode-description-empty display-none">
					Merci de saisir une description.
				</p>
				<p class="error-message error-message_color_red error-message__delivery-mode-description-validity display-none">
					Merci de saisir une description valide.
				</p>
				{{ form_errors(adminUpdateDeliveryModeForm.description) }}
			</div>
			{# Submit adminUpdateDeliveryModeForm button #}
			<button type="submit" class="page__button page__button-submit page__button-update page__button_background-color_safety-orange page__button_color_white" id="admin-update-delivery-mode-button">
				Mettre à jour
			</button>
			{{ form_end(adminUpdateDeliveryModeForm) }}
			{# END : adminUpdateDeliveryModeForm #}
		</section>
	</main>
{% endblock %}
{# END : admin_delivery_mode_update #}
