{% extends 'base.html.twig' %}

{% block title %}
	Accueil |
	{{ parent() }}
{% endblock %}

{# START : home #}
{% block body %}
	<main>
		<section class="page">
			<h2>Nos Produits</h2>
			{# START : searchProductForm #}
			{{ form_start(searchProductForm, { 'attr': { 'novalidate': 'novalidate', 'class': 'form', 'id': 'search-product-form' }}
			) }}
			<div class="form-field">
				{{ form_label(searchProductForm, 'Rechercher par nom', { 'label_attr': { 'class': 'display-none' }}) }}
				{{ form_widget(searchProductForm.name, { 'id': 'search-product-input', 'attr': {'class': 'form-field__input form-field__input_color_black form-field__input-search form-field__input-product-name', 'placeholder': '🔍 Rechercher par nom' }}) }}
				<p class="error-message error-message_color_red error-message__product-name-empty display-none">
					Merci de saisir un nom de produit.
				</p>
				<p class="error-message error-message_color_red error-message__product-name-validity display-none">
					Merci de saisir un nom de produit valide.
				</p>
				{{ form_errors(searchProductForm.name) }}
			</div>
			<button type="submit" class="page__button page__button-submit page__button-search page__button_background-color_blue page__button_color_white " id="search-product-button">
				Rechercher
			</button>
			{{ form_end(searchProductForm) }}
			{# END : searchProductForm #}
			<div class="list">
				{% for product in products %}
					<div class="product-preview">
						<a class="link-picture" href="{{ path('product_detail', {'slug': product.slug}) }}">
							<img class="page__picture" src="{{ asset('assets/uploads/pictures/products/'~ product.picture) }}" alt="image {{ product.name }}"/>
						</a>
						<p>{{ product.name }}</p>
						<p>{{ product.price|amount }}</p>
						{% if product.availability == available %}
							<a class="page__link-cart page__link_background-color_blue" href="{{ path('cart_add', {'id': product.id}) }}?returnToHome=true">
								<img class="page__icon page__icon-cart page__icon_color_white" src="{{ asset('assets/images/icons/cart.svg') }}" alt="image-cart"/>
							</a>
						{% elseif product.availability == unavailable %}
							<p class="availability unavailable availability__unavailable_color_red">Indisponible</p>
						{% endif %}
					</div>
				{% endfor %}
			</div>
		</section>
	</main>
{% endblock %}
{# END : home #}
