{% extends 'base.html.twig' %}

{% block title %}
	Créer - Commande -
	{{ user.firstName }}
	{{ user.lastName }}
	|
	{{ parent() }}
{% endblock %}

{# START : admin_purchase_create #}
{% block body %}
	<main>
		<section class="page">
			<h2>
				Créer une Commande :
				{{ user.firstName }}
				{{ user.lastName }}
			</h2>
			{# START : adminCreatePurchaseForm #}
			{{ form_start(adminCreatePurchaseForm, { 'attr': { 'novalidate': 'novalidate', 'class': 'form form-purchase', 'id': 'admin-create-purchase-form' }}) }}
			{# status #}
			<div class="form-field">
				{{ form_label(adminCreatePurchaseForm, 'Statut :', { 'label_attr': { 'class': 'form-field__label' }}) }}
				{{ form_widget(adminCreatePurchaseForm.status) }}
				<p class="error-message error-message_color_red error-message__purchase-status-not-checked display-none">
					Merci de sélectionner un statut.
				</p>
				{{ form_errors(adminCreatePurchaseForm.status) }}
			</div>
			{# billingAddress #}
			<div class="form-field form-field-address">
				{{ form_label(adminCreatePurchaseForm, 'Adresse de facturation :', { 'label_attr': { 'class': 'form-field__label' }}) }}
				{{ form_widget(adminCreatePurchaseForm.billingAddress)|replace({"[br]":"</br>"})|raw }}
				<p class="error-message error-message_color_red error-message__billing-address-not-checked display-none">
					Merci de sélectionner une adresse de facturation.
				</p>
				{{ form_errors(adminCreatePurchaseForm.billingAddress) }}
			</div>
			{# deliveryAddress #}
			<div class="form-field form-field-address">
				{{ form_label(adminCreatePurchaseForm, 'Adresse de livraison :', { 'label_attr': { 'class': 'form-field__label' }}) }}
				{{ form_widget(adminCreatePurchaseForm.deliveryAddress)|replace({"[br]":"</br>"})|raw }}
				<p class="error-message error-message_color_red error-message__delivery-address-not-checked display-none">
					Merci de sélectionner une adresse de livraison.
				</p>
				{{ form_errors(adminCreatePurchaseForm.deliveryAddress) }}
			</div>
			<a class="page__link page__link_font-weight_normal page__link_color_blue page__link_padding-and-margin_0" id="add-new-address-link" href="{{ path('admin_address_create', {'id': user.id}) }}?returnToAdminPurchaseCreate=true">+ Ajouter une nouvelle adresse.</a>
			{# deliveryMode #}
			<div class="form-field form-field-purchase-delivery-mode" data-folderpath={{ deliveryModePictureUploadFolderPath }} data-pictures={{ deliveryModePictures|json_encode }}>
				{{ form_label(adminCreatePurchaseForm, 'Mode de livraison :', { 'label_attr': { 'class': 'form-field__label' }}) }}
				{{ form_widget(adminCreatePurchaseForm.deliveryMode) }}
				<p class="error-message error-message_color_red error-message__purchase-delivery-mode-not-checked display-none">
					Merci de sélectionner un mode de livraison.
				</p>
				{{ form_errors(adminCreatePurchaseForm.deliveryMode) }}
			</div>
			{#  Submit adminCreatePurchaseForm button #}
			<button type="submit" class="page__button page__button-submit page__button-create page__button_background-color_dodger-blue page__button_color_white" id="admin-create-purchase-button">
				Créer
			</button>
			{{ form_end(adminCreatePurchaseForm) }}
			{# END : adminCreatePurchaseForm #}
		</div>
	</section>
</main>{% endblock %}{# END : admin_purchase_create #}
