{% extends 'base.html.twig' %}

{% block title %}
	Créer - Adresse -
	{{ user.firstName }}
	{{ user.lastName }}
	|
	{{ parent() }}
{% endblock %}

{# START : admin_address_create #}
{% block body %}
	<main>
		<section class="page">
			<h2>Créer une Adresse :
				{{ user.firstName }}
				{{ user.lastName }}</h2>
			{# START : adminCreateAddressForm #}
			{{ form_start(adminCreateAddressForm, { 'attr': { 'novalidate': 'novalidate', 'class': 'form', 'id': 'admin-create-address-form' }}) }}
			{# firstName #}
			<div class="form-field">
				{{ form_label(adminCreateAddressForm, 'Prénom', { 'label_attr': { 'class': 'display-none' }}) }}
				{{ form_widget(adminCreateAddressForm.firstName, { 'id': 'admin-create-address-first-name-input', 'attr': {'class': 'form-field__input form-field__input_color_black form-field__input-user-first-name', 'placeholder': 'Prénom' }}) }}
				<p class="error-message error-message_color_red error-message__empty-first-name display-none">
					Merci de saisir un prénom.
				</p>
				<p class="error-message error-message_color_red error-message__validity-first-name display-none">
					Merci de saisir un prénom valide.
				</p>
				{{ form_errors(adminCreateAddressForm.firstName) }}
			</div>
			{# lastName #}
			<div class="form-field">
				{{ form_label(adminCreateAddressForm, 'Nom', { 'label_attr': { 'class': 'display-none' }}) }}
				{{ form_widget(adminCreateAddressForm.lastName, { 'id': 'admin-create-address-last-name-input', 'attr': { 'class': 'form-field__input form-field__input_color_black form-field__input-user-last-name', 'placeholder': 'Nom' }}) }}
				<p class="error-message error-message_color_red error-message__empty-last-name display-none">
					Merci de saisir un nom.
				</p>
				<p class="error-message error-message_color_red error-message__validity-last-name display-none">
					Merci de saisir un nom valide.
				</p>
				{{ form_errors(adminCreateAddressForm.lastName) }}
			</div>
			{# streetNumber #}
			<div class="form-field">
				{{ form_label(adminCreateAddressForm, 'Numéro de rue', { 'label_attr': { 'class': 'display-none' }}) }}
				{{ form_widget(adminCreateAddressForm.streetNumber, { 'id': 'admin-create-address-street-number-input', 'attr': { 'class': 'form-field__input form-field__input_color_black form-field__input-address-street-number', 'placeholder': 'Numéro de rue' }}) }}

				<p class="error-message error-message_color_red error-message__empty-street-number display-none">
					Merci de saisir un numéro de rue.
				</p>
				<p class="error-message error-message_color_red error-message__validity-street-number display-none">
					Merci de saisir un numéro de rue valide.
				</p>
				{{ form_errors(adminCreateAddressForm.streetNumber) }}
			</div>
			{# streetName #}
			<div class="form-field">
				{{ form_label(adminCreateAddressForm, 'Nom de rue', { 'label_attr': { 'class': 'display-none' }}) }}
				{{ form_widget(adminCreateAddressForm.streetName, { 'id': 'admin-create-address-street-name-input', 'attr': { 'class': 'form-field__input form-field__input_color_black form-field__input-address-street-name', 'placeholder': 'Nom de rue' }}) }}

				<p class="error-message error-message_color_red error-message__empty-street-name display-none">
					Merci de saisir un nom de rue.
				</p>
				<p class="error-message error-message_color_red error-message__validity-street-name display-none">
					Merci de saisir un nom de rue valide.
				</p>
				{{ form_errors(adminCreateAddressForm.streetName) }}
			</div>
			{# zipCode #}
			<div class="form-field">
				{{ form_label(adminCreateAddressForm, 'Code postal', { 'label_attr': { 'class': 'display-none' }}) }}
				{{ form_widget(adminCreateAddressForm.zipCode, { 'id': 'admin-create-address-zip-code-input', 'attr': { 'class': 'form-field__input form-field__input_color_black form-field__input-address-zip-code', 'placeholder': 'Code postal' }}) }}
				<p class="error-message error-message_color_red error-message__empty-zip-code display-none">
					Merci de saisir un code postal.
				</p>
				<p class="error-message error-message_color_red error-message__validity-zip-code display-none">
					Merci de saisir un code postal valide.
				</p>
				{{ form_errors(adminCreateAddressForm.zipCode) }}
			</div>
			{# city #}
			<div class="form-field">
				{{ form_label(adminCreateAddressForm, 'Ville', { 'label_attr': { 'class': 'display-none' }}) }}
				{{ form_widget(adminCreateAddressForm.city, { 'id': 'admin-create-address-city-input', 'attr': { 'class': 'form-field__input form-field__input_color_black form-field__input-address-city', 'placeholder': 'Ville' }}) }}
				<p class="error-message error-message_color_red error-message__empty-city display-none">
					Merci de saisir un nom de ville.
				</p>
				<p class="error-message error-message_color_red error-message__validity-city display-none">
					Merci de saisir un nom de ville valide.
				</p>
				{{ form_errors(adminCreateAddressForm.city) }}
			</div>
			{# country #}
			<div class="form-field">
				{{ form_label(adminCreateAddressForm, 'Pays', { 'label_attr': { 'class': 'display-none' }}) }}
				{{ form_widget(adminCreateAddressForm.country, { 'id': 'admin-create-address-country-input', 'attr': { 'class': 'form-field__input form-field__input_color_black form-field__input-address-country', 'placeholder': 'Pays' }}) }}
				<p class="error-message error-message_color_red error-message__empty-country display-none">
					Merci de saisir un nom de pays.
				</p>
				<p class="error-message error-message_color_red error-message__validity-country display-none">
					Merci de saisir un nom de pays valide.
				</p>
				{{ form_errors(adminCreateAddressForm.country) }}
			</div>
			{# phoneNumber #}
			<div class="form-field">
				{{ form_label(adminCreateAddressForm, 'Numéro de téléphone mobile', { 'label_attr': { 'class': 'display-none' }}) }}
				{{ form_widget(adminCreateAddressForm.phoneNumber, { 'id': 'admin-create-address-phone-number-input', 'attr': { 'class': 'form-field__input form-field__input_color_black form-field__input-phone-number', 'placeholder': 'Numéro de téléphone mobile' }}) }}
				<p class="error-message error-message_color_red error-message__empty-phone-number display-none">
					Merci de saisir un numéro de téléphone mobile.
				</p>
				<p class="error-message error-message_color_red error-message__validity-phone-number display-none">
					Merci de saisir un numéro de téléphone mobile valide.
				</p>
				{{ form_errors(adminCreateAddressForm.phoneNumber) }}
			</div>
			{#  Submit adminCreateAddressForm button #}
			<button type="submit" class="page__button page__button-submit page__button-create page__button_background-color_dodger-blue page__button_color_white" id="admin-create-address-button">
				Créer
			</button>
			{{ form_end(adminCreateAddressForm) }}
			{# END : adminCreateAddressForm #}
		</section>
	</main>
{% endblock %}
{# END : admin_address_create #}
