{% extends 'base.html.twig' %}

{% block title %}
	Commandes -
	{{ app.user.firstName }}
	{{ app.user.lastName|upper }}
	|
	{{ parent() }}
{% endblock %}

{# START : purchase_list #}
{% block body %}
	<main>
		<section class="page">
			<h2>Mes Commandes</h2>
			{# START : searchPurchaseForm #}
			{{ form_start(searchPurchaseForm, { 'attr': { 'novalidate': 'novalidate', 'class': 'form', 'id': 'search-purchase-form' }}
			) }}
			<div class="form-field">
				{{ form_label(searchPurchaseForm, 'Référence', { 'label_attr': { 'class': 'display-none' }}) }}
				{{ form_widget(searchPurchaseForm.reference, { 'id': 'search-purchase-input', 'attr': {'class': 'form-field__input form-field__input_color_black form-field__input-search form-field__input-purchase-reference', 'placeholder': '🔍 Rechercher par référence' }}) }}
				<p class="error-message error-message_color_red error-message__reference-empty display-none">
					Merci de saisir une référence.
				</p>
				{{ form_errors(searchPurchaseForm.reference) }}
			</div>
			{{ form_end(searchPurchaseForm) }}
			{# END : searchPurchaseForm #}
			<div class="list" id="block-purchases-list">
				<table class="table table_background-color_blue table_color_white table-purchase"></table>
			</section>
		</main>
	{% endblock %}
	{# START : purchase_list #}
