{% extends 'base.html.twig' %}

{% block title %}
	Demande suppression compte -
	{{ app.user.firstName }}
	{{ app.user.lastName }}
	|
	{{ parent() }}
{% endblock %}

{# START : user_delete_account_access #}

{% block body %}
	<main>
		<section class="page">
			<h2>Supression de compte</h2>
			<div class="list">
				<div class="term">
					<p>Bonjour
						{{ app.user.firstName }},</p>
					<p>Vous avez la possibilité de supprimer votre compte en cliquant sur le boutton "Supprimer mon compte" ci-dessous.</p>
					<p>Votre compte sera alors désactivé. Cette information vous sera précisée à chaque nouvelle connexion sur le site.</p>
					<p>La suppression définitive de votre compte sera effectuée 30 jours après votre demande. Durant ce délai, vous aurez la possibilité de réactiver votre compte en suivant les instructions présentes sur la page qui sera affichée après que vous vous soyez connecté.</p>
				</div>
			</div>
			<a class="page__link page__link-delete page__link_text_uppercase page__link_background-color_red page__link_color_white" id="delete-my-user-account-link" href="{{ path('user_delete_account', {'token':csrf_token('user-delete-account' ~ app.user.id)} ) }}">
				Supprimer mon compte
			</a>
		</section>
	</main>
{% endblock %}
{# START : user_delete_account_access #}
