{% extends 'base.html.twig' %}

{% block title %}
	Adresses -
	{{ app.user.firstName }}
	{{ app.user.lastName }}
	|
	{{ parent() }}
{% endblock %}

{# START : address_list #}
{% block body %}
	<main>
		<section class="page">
			<h2>Mes Adresses</h2>
			{# START : searchAddressForm #}
			{{ form_start(searchAddressForm, { 'attr': { 'novalidate': 'novalidate', 'class': 'form', 'id': 'search-address-form' }}
			) }}
			<div class="form-field">
				{{ form_label(searchAddressForm, 'Ville', { 'label_attr': { 'class': 'display-none' }}) }}
				{{ form_widget(searchAddressForm.city, { 'id': '', 'attr': {'class': 'form-field__input form-field__input_color_black form-field__input-search form-field__input-address-city', 'placeholder': '🔍 Rechercher par ville' }}) }}
				<p class="error-message error-message_color_red error-message__empty-city display-none">
					Merci de saisir un nom de ville.
				</p>
				{#! START : address city validity not used  #}
				<p class="error-message error-message_color_red error-message__validity-city display-none">
					Merci de saisir un nom de ville valide.
				</p>
				{#! END : address city validity not used  #}
				{{ form_errors(searchAddressForm.city) }}
			</div>
			<button type="submit" class="page__button page__button-submit page__button-search page__button_background-color_blue page__button_color_white" id="search-address-button">
				Rechercher
			</button>
			{{ form_end(searchAddressForm) }}
			{# END : searchAddressForm #}
			<a class="page__link page__link-create page__link_text-transform_uppercase page__link_background-color_dodger-blue page__link_color_white" href="{{ path('address_create') }}" id="create-address-link">Créer</a>
			<div
				class="list">
				{# START : card for mobile #}
				{% for address in addresses %}
					<div class="card-address card-address_color_blue" id="card-address">
						<p>
							{{ address.firstName }}
							{{ address.lastName }}
						</p>
						<p>
							{{ address.streetNumber }}
							{{ address.streetName }}
						</p>
						<p>
							{{ address.zipCode }}
							-
							{{ address.city }}
						</p>
						<p>
							{{ address.country }}
						</p>
						<p>
							{{ address.phoneNumber }}
						</p>
						<a class="page__link page__link-detail page__link_text-transform_uppercase  page__link_background-color_blue page__link_color_white" href="{{ path('address_detail', {'id': address.id}) }}">Détails</a>
						<a class="page__link page__link_text-transform_uppercase page__link_background-color_safety-orange page__link_color_white" href="{{ path('address_update', {'id': address.id}) }}">Modifier</a>
						<a class="page__link page__link-delete page__link-delete-address page__link_text-transform_uppercase page__link_margin-bottom_1em page__link_background-color_red page__link_color_white" href="{{ path('address_delete', {'id':address.id, 'token':csrf_token('address-delete' ~ address.id)} ) }}" data-userfirstname="{{ address.user.firstName }}" data-userlastname="{{ address.user.lastName }}">Supprimer</a>
					</div>
				{% endfor %}
				{# START : card for mobile #}
				{# START : table for desktop #}
				<table class="table table_background-color_blue table_color_white table-address">
					<thead>
						<tr>
							<th>Prénom</th>
							<th>Nom</th>
							<th>Numéro de rue</th>
							<th>Nom de rue</th>
							<th>Code postal</th>
							<th>Ville</th>
							<th>Pays</th>
							<th>Numéro de téléphone mobile</th>
							<th>Actions</th>
						</tr>
					</thead>
					{% for address in addresses %}
						<tbody>
							<tr>
								<td>{{ address.firstName }}</td>
								<td>{{ address.lastName }}</td>
								<td>{{ address.streetNumber}}</td>
								<td>{{ address.streetName}}</td>
								<td>{{ address.zipCode}}</td>
								<td>{{ address.city}}</td>
								<td>{{ address.country}}</td>
								<td>{{ address.phoneNumber}}</td>
								<td>
									<a class="page__link page__link-detail page__link_text-transform_uppercase  page__link_background-color_blue page__link_color_white" href="{{ path('address_detail', {'id': address.id}) }}">Détails</a>
									<a class="page__link page__link_text-transform_uppercase page__link_background-color_safety-orange page__link_color_white" href="{{ path('address_update', {'id': address.id}) }}">
										Modifier</a>
									<a class="page__link page__link-delete page__link-delete-address page__link_text-transform_uppercase page__link_margin-bottom_1em page__link_background-color_red page__link_color_white" href="{{ path('address_delete', {'id':address.id, 'token':csrf_token('address-delete' ~ address.id)} ) }}" data-userfirstname="{{ address.user.firstName }}" data-userlastname="{{ address.user.lastName }}">Supprimer</a>
								</td>
							</tr>
						</tbody>
					{% endfor %}
				</table>
				{# END : table for desktop #}
			</div>
		</section>
	</main>
{% endblock %}
{# START : address_list #}
