{% extends 'base.html.twig' %}

{% block title %}
	Adresses -
	{{ app.user.firstName }}
	{{ app.user.lastName }}
	|
	{{ parent() }}
{% endblock %}

{# START : address_list #}
{% block body %}
	<main>
		<section class="page">
			<h2>Mes Adresses</h2>
			{# START : searchAddressForm #}
			{{ form_start(searchAddressForm, { 'attr': { 'novalidate': 'novalidate', 'class': 'form', 'id': 'search-address-form' }}
			) }}
			<div class="form-field">
				{{ form_label(searchAddressForm, 'Ville', { 'label_attr': { 'class': 'display-none' }}) }}
				{{ form_widget(searchAddressForm.city, { 'id': 'search-address-input', 'attr': {'class': 'form-field__input form-field__input_color_black form-field__input-search form-field__input-address-city', 'placeholder': '🔍 Rechercher par ville' }}) }}
				<p class="error-message error-message_color_red error-message__empty-city display-none">
					Merci de saisir un nom de ville.
				</p>
				<p class="error-message error-message_color_red error-message__validity-city display-none">
					Merci de saisir un nom de ville valide.
				</p>
				{{ form_errors(searchAddressForm.city) }}
			</div>

			{{ form_end(searchAddressForm) }}
			{# END : searchAddressForm #}
			<a class="page__link page__link-create page__link_text-transform_uppercase page__link_background-color_dodger-blue page__link_color_white" href="{{ path('address_create') }}" id="create-address-link">Créer</a>
			<div class="list" id="block-addresses-list">
				<table class="table table_background-color_blue table_color_white table-address"></table>
			</div>
		</section>
	</main>
{% endblock %}
{# START : address_list #}
